* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__social {
        display: flex;
        gap: 40px;
    }
}

.hero {
    padding-top: 537px;
    margin-bottom: 70px;
    display: flex;
    justify-content: end;
    // background-image: url('../src/assets/hero.png');
    // background-repeat: no-repeat;


    &__info {
        max-width: 500px;
        padding: 70px;
        background-color: #F8F200;
        display: flex;
        flex-direction: column;
        gap: 25px;
        clip-path:
            polygon(50px 0,
                /* левый верхний угол - начало среза */
                100% 0,
                /* правый верхний - целый */
                100% calc(100% - 50px),
                /* правый нижний - конец среза */
                calc(100% - 50px) 100%,
                /* правый нижний - острый угол */
                0 100%,
                /* левый нижний - целый */
                0 50px
                /* левый верхний - острый угол */
            );

        &_text {
            font-family: "Metal Mania", system-ui;
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #000000;
        }

        &_button {
            padding: 19px 50px;
            background: #000000;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            color: #F8F200;
        }

    }
}

header,
.hero {
    position: relative;
}

header::before,
.hero::before {
    content: '';
    position: absolute;
    /* fixed а не absolute, чтобы покрыть оба */
    top: -20px;
    left: 0;
    width: 99vw;
    height: 105%;
    background-image: url('../src/assets/hero.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
}

.about {
    margin-bottom: 70px;

    &__title {
        font-family: "Metal Mania", system-ui;
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 63px;
        color: #000000;
    }

    &__article {
        margin-top: 25px;
        margin-bottom: 70px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 34px;
        color: #777;

        &.specialColor {
            color: #52BEDC;
        }
    }

    &__photo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        &_item.big {
            grid-row: span 2;
        }
    }

}