@keyframes slideShow {
  0%, 33% {
    z-index: 1;
  }
  34%, 100% {
    z-index: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: "Metal Mania", system-ui;
}

p,
button,
span,
li {
  font-family: "Roboto", sans-serif;
}

.success {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.emptyField {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35a03;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.wrongEmail {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35a03;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.loading {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #117ef3;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.requestError {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ec1607;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__social {
  display: flex;
  gap: 40px;
}

.hero {
  padding-top: 537px;
  margin-bottom: 70px;
  display: flex;
  justify-content: end;
  position: relative;
}
.hero__background {
  position: absolute;
  top: -98px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero__background_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.hero__background_img:nth-child(1) {
  background-image: url("../src/assets/hero1.png");
  animation: slideShow 15s infinite;
  animation-delay: 0s;
}
.hero__background_img:nth-child(2) {
  background-image: url("../src/assets/hero2.png");
  animation: slideShow 15s infinite;
  animation-delay: 5s;
}
.hero__background_img:nth-child(3) {
  background-image: url("../src/assets/hero3.png");
  animation: slideShow 15s infinite;
  animation-delay: 10s;
}
.hero__info {
  max-width: 500px;
  padding: 70px;
  background-color: #F8F200;
  display: flex;
  flex-direction: column;
  gap: 25px;
  clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
}
.hero__info_text {
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
  color: #000000;
}
.hero__info_button {
  padding: 19px 50px;
  background: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #F8F200;
  cursor: pointer;
}

.about {
  margin-bottom: 70px;
}
.about__title {
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
  color: #000000;
}
.about__article {
  margin-top: 25px;
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #777;
}
.about__article_specialColor {
  font-weight: 700;
  color: #52BEDC;
}
.about__photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.about__photo_item.big {
  grid-row: span 2;
}

.game {
  margin-bottom: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #000;
  position: relative;
}
.game::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: url("../src/assets/gameBackGroundTop.png");
  background-repeat: repeat-x;
}
.game::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  background-image: url("../src/assets/gameBackGroundBottom.png");
  background-repeat: repeat-x;
}
.game__title {
  position: relative;
  padding-top: 70px;
  padding-left: 164px;
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
  color: #FFFFFF;
}
.game__title::before {
  content: url("../src/assets/saleLogo.svg");
  position: absolute;
  top: 20px;
  left: 0;
}
.game__article {
  margin-top: 39px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #FFFFFF;
}
.game__article_specialColor {
  font-weight: 700;
  color: #52BEDC;
}
.game__container {
  display: flex;
  gap: 32px;
  align-items: flex-end;
}
.game__form {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.game__form_nameInput {
  background: none;
  border: none;
  padding-bottom: 13px;
  border-bottom: 1px solid #777;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.game__form_nameInput::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.game__form_nameInput::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.game__form_emailInput {
  background: none;
  border: none;
  padding-bottom: 13px;
  border-bottom: 1px solid #777;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.game__form_emailInput::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.game__form_emailInput::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.game__form_fileInputContainer {
  width: 463px;
  height: 120px;
  display: flex;
  position: relative;
}
.game__form_uploadPicLabel {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #777777;
  padding: 39px 137px;
  cursor: pointer;
  white-space: nowrap;
}
.game__form_uploadPicLabel .uploadPicture-text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.game__form_uploadPicLabel .uploadPicture-extention {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.game__form_userPictureInput {
  position: absolute;
  align-self: end;
  left: 45%;
  opacity: 0;
}
.game__form_submitButton {
  max-width: 193px;
  padding: 15px 50px;
  background-color: #F8F200;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  cursor: pointer;
}
.game__form_checkBox {
  margin-top: -20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.game__form_userAgreementLabel {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.game__form_userAgreementCheck {
  width: 14px;
  height: 14px;
  border: 1px solid #777777;
  background: none;
  cursor: pointer;
}
.game__form_userAgreementCheck:checked {
  background-image: url("./assets/checkedInput.svg");
  background-repeat: no-repeat;
  background-position: 60% 50%;
}

.hp {
  display: flex;
  gap: 32px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F8F200;
}
.hp__logos {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
}
.hp__logos_wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
}
.hp__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hp__info_title {
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
  color: #000000;
}
.hp__info_article {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
}
.hp__info_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hp__info_list .hp__list_element {
  list-style: none;
  padding-left: 42px;
  height: 32px;
  background-repeat: no-repeat;
  line-height: 32px;
}
.hp__info_btn {
  margin-top: 15px;
  max-width: 195px;
  border: none;
  background-color: #000;
  padding: 19px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #F8F200;
  cursor: pointer;
}

.buy {
  display: flex;
  background-color: #000;
}
.buy__info-container {
  margin: 0 auto;
}
.buy__info {
  padding: 70px 0 70px 32px;
  width: 50%;
}
.buy__info_title {
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 63px;
  color: #FFFFFF;
}
.buy__info_listTitle {
  margin-top: 25px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #52BEDC;
}
.buy__info_set {
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.buy__info_set .buy__set_element {
  padding-left: 42px;
  white-space: nowrap;
  height: 32px;
  line-height: 32px;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.buy__info_platforms {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 65px);
  row-gap: 56px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}

.footer__top {
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__top_right {
  display: flex;
  gap: 32px;
}
.footer__top_left {
  display: flex;
  gap: 32px;
}
.footer__top_link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.footer__bottom {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #000;
  display: flex;
  justify-content: center;
}
.footer__bottom_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}/*# sourceMappingURL=App.css.map */