@mixin specialTextColor {
    font-weight: 700;
    color: #52BEDC;
}

@mixin userInfoInput {
    background: none;
    border: none;
    padding-bottom: 13px;
    border-bottom: 1px solid #777;
}

@mixin userInfoPlaceholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

li {
    list-style: none;
}

h1,
h2 {
    font-family: "Metal Mania", system-ui;
}

p,
button,
span,
li {
    font-family: 'Roboto', sans-serif;
}


.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__social {
        display: flex;
        gap: 40px;
    }
}

.hero {
    padding-top: 537px;
    margin-bottom: 70px;
    display: flex;
    justify-content: end;
    // background-image: url('../src/assets/hero.png');
    // background-repeat: no-repeat;


    &__info {
        max-width: 500px;
        padding: 70px;
        background-color: #F8F200;
        display: flex;
        flex-direction: column;
        gap: 25px;
        clip-path:
            polygon(50px 0,
                /* левый верхний угол - начало среза */
                100% 0,
                /* правый верхний - целый */
                100% calc(100% - 50px),
                /* правый нижний - конец среза */
                calc(100% - 50px) 100%,
                /* правый нижний - острый угол */
                0 100%,
                /* левый нижний - целый */
                0 50px
                /* левый верхний - острый угол */
            );

        &_text {
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #000000;
        }

        &_button {
            padding: 19px 50px;
            background: #000000;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            color: #F8F200;
        }

    }
}

header,
.hero {
    position: relative;
}

header::before,
.hero::before {
    content: '';
    position: absolute;
    /* fixed а не absolute, чтобы покрыть оба */
    top: -20px;
    left: 0;
    width: 99vw;
    height: 102%;
    background-image: url('../src/assets/hero.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
}

.about {
    margin-bottom: 70px;

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 63px;
        color: #000000;
    }

    &__article {
        margin-top: 25px;
        margin-bottom: 70px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        color: #777;

        &_specialColor {
            @include specialTextColor();
        }
    }

    &__photo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        &_item.big {
            grid-row: span 2;
        }
    }

}

.game {
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #000;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-image: url('../src/assets/gameBackGroundTop.png');
        background-repeat: repeat-x;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -70px;
        left: 0;
        width: 100%;
        height: 70px;
        background-image: url('../src/assets/gameBackGroundBottom.png');
        background-repeat: repeat-x;
    }

    &__title {
        position: relative;
        padding-top: 70px;
        padding-left: 164px;
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 63px;
        color: #FFFFFF;

        &::before {
            content: url('../src/assets/saleLogo.svg');
            position: absolute;
            top: 20px;
            left: 0;
        }
    }

    &__article {
        margin-top: 39px;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        color: #FFFFFF;

        &_specialColor {
            @include specialTextColor();
        }
    }

    &__container {
        display: flex;
        gap: 32px;
        align-items: flex-end;
    }

    &__form {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        &_nameInput {

            @include userInfoInput();
            @include userInfoPlaceholder();

            &::placeholder {
                @include userInfoPlaceholder();

            }
        }

        &_emailInput {

            @include userInfoInput();
            @include userInfoPlaceholder();

            &::placeholder {
                @include userInfoPlaceholder();

            }
        }

        &_fileInputContainer {
            height: 120px;
            display: flex;
            position: relative;
        }

        &_uploadPicLabel {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px dashed #777777;
            padding: 39px 137px;
            cursor: pointer;
            white-space: nowrap;

            .uploadPicture-text {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                text-decoration-line: underline;
                color: #FFFFFF;
            }

            .uploadPicture-extention {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                color: #FFFFFF;
            }
        }

        &_userPictureInput {
            position: absolute;
            align-self: end;
            left: 45%;
            opacity: 0;
        }

        &_submitButton {
            max-width: 193px;
            padding: 15px 50px;
            background-color: #F8F200;
            border: none;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #000000;
        }

        &_checkBox {
            margin-top: -20px;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &_userAgreementLabel {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
        }

        &_userAgreementCheck {
            width: 14px;
            height: 14px;
            border: 1px solid #777777;
            background: none;
            cursor: pointer;

            &:checked {
                background-image: url('./assets/checkedInput.svg');
                background-repeat: no-repeat;
                background-position: 60% 50%;
            }
        }
    }
}

.hp {
    display: flex;
    gap: 32px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F8F200;

    &__logos {
        display: flex;
        flex-direction: column;
        gap: 26px;
        align-items: center;

        &_wrapper {
            display: flex;
            gap: 25px;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &_title {
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #000000;
        }

        &_article {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            color: #000000;
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .hp__list_element {
                list-style: none;
                padding-left: 42px;
                height: 32px;
                background-repeat: no-repeat;
                line-height: 32px;
            }
        }

        &_btn {
            margin-top: 15px;
            max-width: 195px;
            border: none;
            background-color: #000;
            padding: 19px 50px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #F8F200;
            cursor: pointer;
        }
    }
}

.buy {
    display: flex;
    background-color: #000;

    &__info-container {
        margin: 0 auto;
    }

    &__info {
        padding: 70px 0 70px 32px;
        width: 50%;

        &_title {
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #FFFFFF;
        }

        &_listTitle {
            margin-top: 25px;
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #52BEDC;
        }

        &_set {
            padding-bottom: 45px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .buy__set_element {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
            }
        }

        &_platforms {
            padding-top: 10px;
            display: grid;
            grid-template-columns: repeat(2, 65px);
            row-gap: 56px;
            column-gap: 80px;
            // grid-column: span 2;
        }
    }
}