@keyframes slideShow {

    0%,
    33% {
        z-index: 1;
    }

    34%,
    100% {
        z-index: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;

    }

    90% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}

@mixin specialTextColor {
    font-weight: 700;
    color: #52BEDC;
}

@mixin userInfoInput {
    background: none;
    border: none;
    padding-bottom: 13px;
    border-bottom: 1px solid #777;
}

@mixin userInfoPlaceholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

@mixin submitStatus ($status-color) {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $status-color;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

li {
    list-style: none;
}

h1,
h2 {
    font-family: "Metal Mania", system-ui;
}

p,
button,
span,
li {
    font-family: 'Roboto', sans-serif;
}

.success {
    @include submitStatus(#4CAF50);
}

.emptyField {
    @include submitStatus(#d35a03);
}

.wrongEmail {
    @include submitStatus(#d35a03);
}

.loading {
    @include submitStatus(#117ef3);
}

.requestError {
    @include submitStatus(#ec1607);
}


.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__social {
        display: flex;
        gap: 40px;
    }
}

.hero {
    padding-top: 537px;
    margin-bottom: 70px;
    display: flex;
    justify-content: end;
    position: relative;

    &__background {
        position: absolute;
        top: -98px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        &_img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 110%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            z-index: 0;

            $images: 'hero1.png', 'hero2.png', 'hero3.png';

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    background-image: url('../src/assets/hero#{$i}.png');
                    animation: slideShow 15s infinite;
                    animation-delay: ($i - 1) * 5s;
                }
            }
        }
    }

    &__info {
        max-width: 500px;
        padding: 70px;
        background-color: #F8F200;
        display: flex;
        flex-direction: column;
        gap: 25px;
        clip-path:
            polygon(50px 0,
                /* левый верхний угол - начало среза */
                100% 0,
                /* правый верхний - целый */
                100% calc(100% - 50px),
                /* правый нижний - конец среза */
                calc(100% - 50px) 100%,
                /* правый нижний - острый угол */
                0 100%,
                /* левый нижний - целый */
                0 50px
                /* левый верхний - острый угол */
            );

        &_text {
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #000000;
        }

        &_button {
            padding: 19px 50px;
            background-color: #000000;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            color: #F8F200;
            cursor: pointer;
            transition: background-color 0.3s ease,
                color 0.3s ease,
                padding ease;

            &.notAvailable {
                padding: 19px 10px;
                background-color: red;
                color: white;
            }
        }

    }
}

.about {
    margin-bottom: 70px;

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 63px;
        color: #000000;
    }

    &__article {
        margin-top: 25px;
        margin-bottom: 70px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        color: #777;


        &_specialColor {
            @include specialTextColor();
        }
    }

    &__photo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;

        &_item.big {
            grid-row: span 2;
        }
    }

}

.game {
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #000;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-image: url('../src/assets/gameBackGroundTop.png');
        background-repeat: repeat-x;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -70px;
        left: 0;
        width: 100%;
        height: 70px;
        background-image: url('../src/assets/gameBackGroundBottom.png');
        background-repeat: repeat-x;
    }

    &__title {
        position: relative;
        padding-top: 70px;
        padding-left: 164px;
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 63px;
        color: #FFFFFF;

        &::before {
            content: url('../src/assets/saleLogo.svg');
            position: absolute;
            top: 20px;
            left: 0;
        }
    }

    &__article {
        margin-top: 39px;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        color: #FFFFFF;


        &_specialColor {
            @include specialTextColor();
        }
    }

    &__container {
        display: flex;
        gap: 32px;
        align-items: flex-end;
    }

    &__form {
        max-width: 460px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        &_nameInput {

            @include userInfoInput();
            @include userInfoPlaceholder();

            &::placeholder {
                @include userInfoPlaceholder();

            }
        }

        &_emailInput {

            @include userInfoInput();
            @include userInfoPlaceholder();

            &::placeholder {
                @include userInfoPlaceholder();

            }
        }

        &_fileInputContainer {
            width: 463px;
            height: 120px;
            display: flex;
            position: relative;
        }

        &_uploadPicLabel {
            width: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px dashed #777777;
            padding: 39px 137px;
            cursor: pointer;
            white-space: nowrap;

            .uploadPicture-text {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                text-decoration-line: underline;
                color: #FFFFFF;
            }

            .uploadPicture-extention {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                color: #FFFFFF;
            }
        }

        &_userPictureInput {
            position: absolute;
            align-self: end;
            left: 45%;
            opacity: 0;
        }

        &_submitButton {
            max-width: 193px;
            padding: 15px 50px;
            background-color: #F8F200;
            border: none;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #000000;
            cursor: pointer;
        }

        &_checkBox {
            margin-top: -20px;
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &_userAgreementLabel {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
        }

        &_userAgreementCheck {
            width: 14px;
            height: 14px;
            border: 1px solid #777777;
            background: none;
            cursor: pointer;

            &:checked {
                background-image: url('./assets/checkedInput.svg');
                background-repeat: no-repeat;
                background-position: 60% 50%;
            }
        }
    }

    &__console {
        position: relative;
        display: flex;

        &_img.xbox {
            position: absolute;
        }

        &_img.ps {
            padding-left: 332px;
        }
    }
}

.hp {
    display: flex;
    gap: 32px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F8F200;

    &__logos {
        display: flex;
        flex-direction: column;
        gap: 26px;
        align-items: center;

        &_wrapper {
            display: flex;
            gap: 25px;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &_title {
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #000000;
        }

        &_article {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 34px;
            color: #000000;
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .hp__list_element {
                list-style: none;
                padding-left: 42px;
                height: 32px;
                background-repeat: no-repeat;
                line-height: 32px;
            }
        }

        &_btn {
            margin-top: 15px;
            max-width: 195px;
            border: none;
            background-color: #000;
            padding: 19px 50px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #F8F200;
            cursor: pointer;
            transition: background-color 0.3s ease,
                color 0.3s ease,
                padding ease,
                max-width ease;

            &.notAvailable {
                max-width: 330px;
                padding: 19px 10px;
                background-color: red;
                color: white;
            }
        }
    }
}

.buy {
    display: flex;
    background-color: #000;

    &__info-container {
        margin: 0 auto;
    }

    &__info {
        padding: 70px 0 70px 32px;
        width: 50%;

        &_title {
            font-style: normal;
            font-weight: 400;
            font-size: 62px;
            line-height: 63px;
            color: #FFFFFF;
        }

        &_listTitle {
            margin-top: 25px;
            margin-bottom: 15px;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #52BEDC;
        }

        &_set {
            padding-bottom: 45px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .buy__set_element {
                padding-left: 42px;
                white-space: nowrap;
                height: 32px;
                line-height: 32px;
                background-repeat: no-repeat;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
            }
        }

        &_platforms {
            padding-top: 10px;
            display: grid;
            grid-template-columns: repeat(2, 65px);
            row-gap: 56px;
            column-gap: 80px;
        }
    }
}

.footer {
    &__top {
        padding-top: 13px;
        padding-bottom: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_right {
            display: flex;
            gap: 32px;
        }

        &_left {
            display: flex;
            gap: 32px;
        }

        &_link {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }

    &__bottom {
        padding-top: 13px;
        padding-bottom: 13px;
        background-color: #000;
        display: flex;
        justify-content: center;

        &_text {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
        }
    }
}

@media (max-width:1441px) {

    .center {
        padding-left: calc(50% - 470px);
        padding-right: calc(50% - 470px);
    }

    .about__photo_item:last-child {
        grid-row: 1;
    }

    .about__photo_item.big {
        width: 952px;
        grid-column: span 2;
        grid-row: span 1;
    }

    .game {

        &::before {
            top: -1px;
        }

        padding-bottom: 71px;
    }



    .game__title {
        padding-left: 0;
        padding-top: 162px;
        max-width: 460px;
    }

    .game__article {
        max-width: 460px;
    }

    .game__console_img.xbox {
        top: -400px;
    }

    .game__console_img.ps {
        padding-left: 0;
    }

    .hp__logos_wrapper {
        flex-direction: column;
    }

    .hp__logos_item {
        max-width: 460px;
    }

    .buy__photo {
        max-width: 332px;
        object-fit: cover;
    }
}

@media (max-width: 769px) {

    .center {
        padding-left: calc(50% - 350px);
        padding-right: calc(50% - 350px);
    }

    .header__social {
        gap: 27px;
    }


    .hero {
        padding-top: 451px;

        &__background {
            top: -98px;

            &_img {
                height: 114.5%;
            }
        }

        &__info {
            width: 320px;
            padding: 30px 12px;
            align-items: center;

            &_text {
                font-size: 30px;
                line-height: 31px;
                text-align: center;
            }

            &_button {
                padding: 10px 50px;
                font-size: 20px;
            }

        }
    }

    .about {

        &__title {
            font-size: 30px;
            line-height: 31px;
        }

        &__article {
            font-size: 16px;
            line-height: 32px;
        }

        &__photo {

            &_item {
                width: 336px;

                &.big {
                    width: 700px;
                }
            }
        }

    }

    .game {
        &__title {
            padding-top: 70px;
            font-size: 30px;
            line-height: 31px;
            padding-left: 70px;

            &::before {
                content: url('../src/assets/saleLogoMini.svg');
                top: 45px;
            }
        }

        &__article {
            font-size: 16px;
            line-height: 32px;
        }

        &__container {
            gap: 0;
        }

        &__form {
            width: 296px;

            &_fileInputContainer {
                width: 296px;
            }

            &_uploadPicLabel {
                padding: 51px 65px;

                .uploadPicture-text {
                    font-size: 16px;
                    line-height: 19px;
                }

                .uploadPicture-extention {
                    display: none;
                }
            }

            &_userPictureInput {
                left: 0;
            }

            &_submitButton {
                padding: 20px 50px;
                font-size: 16px;
                line-height: 19px;
            }
        }

        &__console {

            &_img {
                width: 250px;
            }

            &_img.xbox {
                right: -390px;
                top: -570px;
            }

            &_img.ps {
                position: absolute;
                padding-left: 0;
                right: -390px;
                top: -270px;
            }
        }
    }

    .hp {

        &__logos {
            justify-content: center;

            &_item.monitor {
                max-width: 296px;
            }

            &_item.hpLogo {
                max-width: 44px;
            }

            &_item.crossImg {
                max-width: 40px;
            }

            &_item.cyberpunkLogo {
                max-width: 175px;
            }

            &_wrapper {
                flex-direction: row;
                gap: 13px;
            }
        }

        &__info {

            &_title {
                font-size: 30px;
                line-height: 31px;
            }

            &_article {
                font-size: 16px;
                line-height: 32px;
            }

            .hp__list_element {
                background-size: 24px;
                height: 30px;
                font-size: 16px;
                line-height: 19px;
            }


            &_btn {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .buy {

        &__info {
            padding: 40px 0 70px 12px;
            width: 90%;

            &_title {
                font-size: 30px;
                line-height: 31px;
            }

            &_listTitle {
                font-size: 20px;
                line-height: 23px;
            }

            &_set {
                padding-bottom: 40px;

                .buy__set_element {
                    white-space: normal;
                    height: 30px;
                    font-size: 16px;
                    line-height: 19px;
                    background-size: 24px;
                }
            }

            &_platforms {
                padding-top: 25px;
                row-gap: 49px;
                column-gap: 50px;
            }
        }
    }

    .footer {
        &__top {
            gap: 50px;
            padding-top: 40px;
            padding-bottom: 25px;
            justify-content: center;

            &_right {
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }

            &_left {
                align-items: center;
                gap: 25px;
            }

            &_link {
                font-size: 16px;
                line-height: 19px;

                & .cyberpunk {
                    max-width: 200px;
                }

                & .cdProjeckt {
                    max-width: 116px;
                }
            }
        }
    }
}

@media (max-width: 426px) {

    .center {
        padding-left: calc(50% - 170px);
        padding-right: calc(50% - 170px);
    }

    .header {
        margin-top: 20px;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }

    .hero {

        &__background {
            top: -143px;

            &_img {
                height: 121%;
            }
        }

        .hero__info_button {
            width: 244px;
            font-size: 17px;
        }
    }

    .about {

        &__photo {
            grid-template-columns: repeat(1, 1fr);

            .about__photo_item.big {
                grid-column: span 1;
                width: 336px;
            }

        }

    }

    .game {
        padding-top: 90px;

        &__title {
            padding-top: 211px;
            padding-left: 0;
            font-size: 30px;
            line-height: 31px;

            &::before {
                top: -12PX;
                left: -5px;
            }
        }

        &__article {
            font-size: 16px;
            line-height: 32px;
        }

        &__console {

            &_img {
                width: 132px;
            }

            &_img.xbox {
                right: 166px;
                top: -835px;
            }

            &_img.ps {
                position: absolute;
                padding-left: 0;
                right: 0;
                top: -835px;
            }
        }
    }

    .hp {
        flex-direction: column;
        gap: 40px;

        &__logos {
            flex-direction: column;
            justify-content: normal;
        }
    }

    .buy {
        flex-direction: column;

        &__photo {
            max-width: 425px;
        }
    }

    .footer {

        &__top {
            flex-direction: column;
        }

    }
}

@media (max-width: 321px) {

    .center {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .hero {

        .hero__background_img {
            height: 99%;
        }
    }

    .hero__info {
        margin-left: -10px;
        margin-right: -10px;

        &_button {
            width: 244px;
            font-size: 17px;
        }
    }

    .about {

        &__photo {
            grid-template-columns: repeat(1, 1fr);

            .about__photo_item {
                width: 300px;

                &.big {
                    width: 300px;
                }
            }

        }

    }

    .game {
        padding-top: 90px;

        &__title {
            padding-top: 211px;
            padding-left: 0;
            font-size: 30px;
            line-height: 31px;

            &::before {
                top: -12PX;
                left: -5px;
            }
        }

        &__article {
            font-size: 16px;
            line-height: 32px;
        }

        &__console {

            &_img {
                width: 132px;
            }

            &_img.xbox {
                right: 166px;
                top: -835px;
            }

            &_img.ps {
                position: absolute;
                padding-left: 0;
                right: 0;
                top: -835px;
            }
        }
    }

    .footer__top_left {
        flex-direction: column;
    }
}